<extend name="Common:layout"/>


<block name="content">
  <div class="container">
  	<div class="page-header">
      <p>
        <medium>
          浙江师范大学文科综合实验教学中心组建于2008年，其前身可追溯到1979年成立的天文台和气象观测站。
          2009年11月，中心被教育部批准为文科综合类国家级实验教学示范中心建设单位。2013年6月，通过验收成为国家级实验教学示范中心。
          2014年5月，获批浙江省“十二五”实验教学示范中心重点建设项目。中心现有专兼职实验教师和实验技术人员130人，其中正高35人，副高52人；博士29人，硕士60人。
        </medium>
      </p>
      <p>
        <medium>
          文科实验中心课程展示系统开发于2020年11月，旨在为文科教师和学生提供线上学习和交流的平台。
        </medium>
      </p>
    </div>
  </div>
</block>